extends layout

block prepend head

block append content
	div#content_header
		div#title
			p RouteStop
		div#subtitle
			br	
			p Plan your roadtrip now!

	div#outerbox
		div#innerbox
			| <center>
			div#spinner
				| <div id="div1">
				|  <div class="bar1"></div>
				|  <div class="bar2"></div>
				|  <div class="bar3"></div>
				|  <div class="bar4"></div>
				|  <div class="bar5"></div>
				|  <div class="bar6"></div>
				|  <div class="bar7"></div>
				|  <div class="bar8"></div>
				| </div>
			| </center>
			form(method='post', action='citygrid', id='route', class='navbar-form pull-left')
				span.form_label
					label(for='start') Start:
				span.form_input
					input(type='text', name='start', id='start', placeholder='los angeles')  
				div.form_label     
					label(for='end') End:
				div.form_input
					input(type='text', name='end', id='end', placeholder='san francisco')
				div.form_label
					label(for='stop') Stop: 
							
				div.form_input
					input(type='text', name='place', id='place', placeholder='in-n-out burger')

					//- div.input-prepend
					//- 	span.add-on
					//- 		a#categories
					//- 			i.icon-list
					//- 	input(type='text', name='place', id='place', placeholder='in-n-out burger', style='width:180px')

				div.form_label
					input(type='hidden', name='params', id='params')

				div#route_buttons
					span
						input(type='button', id='button_addstop', class='btn', onclick='pushWaypointFrontend()', value='Add Stop')
					span
						input(type='button', id='button_submit', class='btn btn-primary', onclick='calcRoute()', value='Submit')
			div
				| <ul id="sortable">
				| </ul>


	div#grayout

	

	div#directions_panel



	
