extends layout

block prepend head

block append content
	div#content_header
		h1= title
		p Plan your roadtrip now!

	div#main_menu
		form(method='post', action='citygrid', id='route', class='navbar-form pull-left')
			div
				label(for='start') Start:
			div
				input(type='text', name='start', id='start', value='san francisco')  
			div      
				label(for='end') End:
			div
				input(type='text', name='end', id='end', value='los angeles')
			div
				label(for='stop') Stop: 
			div
				input(type='text', name='place', id='place', value='in-n-out burger')
			div
				input(type='hidden', name='params', id='params')
			div
				span
					input(type='button', class='btn', onclick='pushWaypoint()', value='Add Stop')
				span
					input(type='button', class='btn btn-primary', onclick='calcRoute()', value='Submit')

			|<ul id="sortable">
			|</ul>

	div#directions_panel

	
