extends layout

block prepend head

block append content
	div#content_header
			h1= title
			p Plan your roadtrip now!

	div#main_menu
		| <div id="map_canvas" style="width:100%;height:300px;"></div>
		| </body>
