body {
	margin: 0px;
	top: 0px;
	border-style: none;
}

/*@media handheld(max-width: 700px) {
  body {
    background: blue;
    margin: 15px;
    padding: 10px;
    width: 100%;
  }
}*/

#content_header {
	background-color: #87CEFF;
	color: white;
	text-align: center;
}

#title {
	font-family: harabara;
}

#subtitle {
	font-family: futura;
	font-size: 18px;
}

#route {
	border-style: none;
}

#innerbox {
	 width: 100%;
}

#outerbox {
  position: fixed;
  left: 50%;
  margin-left: -100px;
}

.form_label {

}

.form_input {

}

#sortable {
	
}

@font-face {
	font-family: harabara;
	src: url('fonts/harabara.ttf');
}

@font-face {
	font-family: kimberley bl;
	src: url('fonts/kimberley bl.ttf');
}

#sortable { border-style: none; float: left; list-style-type: decimal; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 10px 1px 5px 20px; padding: 0.2em; padding-left: 0.4em; font-size: 1.0em; height: 8px; }
#sortable li span { position: absolute; margin-left: -0.5em; }

