body

a

#main_menu 
	float: left
	border-style: dotted
	margin: 15px
	padding: 10px

#map_canvas
	float: left

#content_header
	text-align: center

#sortable { border-style: solid; float: right; list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 13px; }
#sortable li span { position: absolute; margin-left: -1.3em; }

